body{
	background-color: black;
}

#wrapper, #titulo{
	padding-top: 20px;
	width: 998px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}

#titulo{
	position: relative;
	padding-top: 0px;
	line-height: 100px;
	color: #B52B2B;
	font-size: 40px;
	font-weight: bold;
	text-shadow: -1px -1px #E03838, 1px 1px black;
	font-family: Lindsey;
}

.circles1, .circles2{
	position: absolute;
	background-color: #B52B2B;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	box-shadow: -1px -1px #E03838, 1px 1px black;
}

.circles2{
	width: 6px;
	height: 6px;
	border-radius: 3px;
}

#header{
	width: 100%;
	height: 100px;
	background-color: #444;
	background: -moz-linear-gradient(top,  #555,  #333);
	background: -webkit-linear-gradient(top,  #555,  #333);
	background: linear-gradient(top,  #555,  #333);
}

#resultados{
	border-radius: 7px 0px 0px 0px;
	border-top: solid 1px #992E2E;
	border-left: solid 1px #992E2E;
}

#resultados, #resultados_wrapper{
	width: 400px;
	height: 264px;
	
	background-color: #bbb;
	background: -moz-linear-gradient(top,#444, #bbb 3px,#ccc);
	background: -webkit-linear-gradient(top,#444, #bbb 3px,#ccc);
	background: linear-gradient(top,#444, #bbb 3px,#ccc);

	
	overflow: auto;
}

#resultados_wrapper{
	border-radius: 7px;
	width: auto;
	height: auto;
	float: right;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 2px;
	padding-right: 2px;
	
	background-color: #b72200;
	background: -moz-linear-gradient(top,#d80f00, #b72200 15px, #B91700);
	background: -webkit-linear-gradient(top,#d80f00, #b72200 15px, #B91700);
	background: linear-gradient(top,#d80f00, #b72200 15px, #B91700);

	border-top: solid 1px #ED2B2B;
	border-bottom: solid 1px #992E2E;
	margin-bottom: 10px;
}

#caixa_parametros{
	border-radius: 7px;
	border: 7px double #991123;
	width: 300px;
	padding:10px 10px;
	float: left;
}



.parametro{
	margin: 10px 0px;
}

.parametro:first-child{
	margin: 0px;
}

.parametro, input[type=text], .plus-minus{
	height: 40px;
}

input[type=text], .plus-minus{
	float: left;
}

input[type=text].numeric{
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	width: 40px;
	padding: 0 10px;
	border-radius: 5px 0px 0px 5px;
	border: solid 0px white;
	
	background-color: #bbb;
	background: -moz-linear-gradient(top,#444, #bbb 3px,#ccc);
	background: -webkit-linear-gradient(top,#444, #bbb 3px,#ccc);
	background: linear-gradient(top,#444, #bbb 3px,#ccc);
	
	border-radius: 5px 0px 0px 5px;
}

.plus-minus, .big_button{
	background-color: #d80f00;
	background: -moz-linear-gradient(top,#d80f00, #b72200);
	background: -webkit-linear-gradient(top,#d80f00, #b72200);
	background: linear-gradient(top,#d80f00, #b72200);

	text-align: center;
	width: 25px;
	padding: 0px;
	border-radius: 0px 5px 5px 0px;
	
}

.plus-minus a, .big_button{
	display: block;
	line-height: 100%;
	font-weight: bold;
	color: white;
	height: 50%;
	border-top: solid 1px #ED2B2B;
	border-bottom: solid 1px #992E2E;
	text-shadow: -1px -1px #992E2E;
	height: 18px;
	
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;

}
.plus-minus a:hover, a.big_button:hover{
	color: black;
	cursor: pointer;
}

.plus-minus a.plus:active, .plus-minus a.minus:active, a#calcular:active{
	border-top: solid 1px #752424;
	border-left: solid 1px #752424;
	cursor: pointer;
}

.plus-minus .plus{
	border-radius: 0px 5px 0px 0px;
}
.plus-minus .minus{
	border-radius: 0px 0px 5px 0px;
}
#caixa_parametros a.big_button{
	display: inline-block;
	border-radius: 5px;
	width: 100px;
	height: 40px;
	line-height: 40px;
}

label {
	padding: 0 10px;
	line-height: 40px;
	font-style: italic;
	font-family: Arial;
	color: #aaa;
	font-size: 15px;
}

table.results{
	width: 100%;
	font-family: Helvetica;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: solid 2px #b71111;
	list-style-position:inside;
	list-style-type: disc;
}

table.results tr td{
	padding: 5px;
	height: 25px;
	border: solid 1px #331111;
}

table.results tr:nth-child(odd){
	background-color: #CCCCCC;
}

table.results tr:nth-child(even){
	background-color: #FFFFFF;
}

ul:first-child{
	margin-top: 0px;
}

#text_box{
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
	border-radius: 10px;
	background-color: #F8E3BE;
	clear: both;
	padding: 20px;
}

#text_box h2{
	font-size: 16px;
}

.item_description{
	font-weight: normal;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 8px;
	background-color: white;
	padding: 10px;
	border: solid 1px #E8D3AE;
}

.item_description em{
	font-weight: bold;
	color: #d80f00;
}

